- query the yahoo finance api (pass in start_date, end_date, period timeframe)
- format that data for storage
- query our dynamodb and get the latest records (how many records?)
- compare today's date with the last date in the table
- if the dates are different, get the new prices between the last date in the table and today's date
- update the table with prices
- bulk insert the new prices